.table-container {
  overflow-x: auto;
}

.receipt-table {
  width: 100%;
  margin-top: 1rem;
}

.receipt-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

th.mat-header-cell {
  font-weight: 600;
  font-size: 14px;
}
