/* Container stílusok átkerültek az OldalKontener komponensbe */

h3 {
  margin: 1.5rem 0 1rem 0;
  color: black;
}

.add-item-btn {
  margin: 1rem 0;
}

.form-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.form-actions button {
  min-width: 150px;
}

.grand-total {
  margin: 2rem 0;
}

.grand-total h3 {
  margin: 0;
  color: #3f51b5;
  font-size: 1.5rem;
  text-align: right;
}